{% extends "layout.html" %}

{% block content %}

  {% for erro in erros %}
    <div class="alert alert-danger">{{erro.text}}</div>
  {% endfor %}
  
  <div class="card">
    <div class="card-body">
      <h4>Nova postagem:</h4>
      <form action="/admin/postagens/nova" method="POST">
        <label for="titulo">Título: </label>
        <input type="text" name="titulo" class="form-control">
        <label for="slug">Slug: </label>
        <input type="text" name="slug" class="form-control">
        <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" class="form-control">
        <label for="conteudo">Conteúdo: </label>
        <textarea name="conteudo" class="form-control"></textarea>
        <br>
        <select name="categoria" class="custom-select">
          {% for categoria in categorias %}
            <option value="{{categoria.id}}">{{categoria.nome}} </option>

          {% else %}
            <option value="0">Nenhuma categoria registrada</option>
          {% endfor %}

        </select>
        <button class="btn btn-success mt-4" type="submit">Criar postagem</button>
      </form>
    </div>
  </div>

{% endblock %}